/* @theme pebble */

@import "default";

@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Zen+Maru+Gothic:wght@500;700;900&display=swap");

@font-face {
  font-family: "Nunito";
  src: local("Nunito");
  size-adjust: 102%;
}

@font-face {
  font-family: "Zen Maru Gothic";
  src: local("Zen Maru Gothic");
  size-adjust: 95%;
}

:root {
  /* Color Palette */
  --color-gray-0: oklch(0.96 0 0);
  --color-gray-1: oklch(0.93 0 0);
  --color-gray-2: oklch(0.6 0 0);
  --color-gray-3: oklch(0.16 0 0);

  --color-blue-0: oklch(0.94 0.04 270);
  --color-blue-1: oklch(0.84 0.07 266);
  --color-blue-2: oklch(0.72 0.13 265);
  --color-blue-3: oklch(0.46 0.11 265);

  --color-red-0: oklch(0.94 0.03 10);
  --color-red-1: oklch(0.82 0.08 14);
  --color-red-2: oklch(0.7 0.12 15);
  --color-red-3: oklch(0.45 0.11 18);

  --color-green-0: oklch(0.92 0.05 125);
  --color-green-1: oklch(0.82 0.09 130);
  --color-green-2: oklch(0.67 0.12 135);
  --color-green-3: oklch(0.44 0.09 140);

  /* --color-yellow-0: oklch(0.92 0.05 103);
  --color-yellow-1: oklch(0.83 0.10 103);
  --color-yellow-2: oklch(0.78 0.14 103);
  --color-yellow-3: oklch(0.42 0.14 103); */

  --color-fg: var(--color-gray-3);
  --color-bg: var(--color-gray-0);
  --color-secondary-fg: var(--color-gray-2);
  --color-secondary-bg: var(--color-gray-1);

  --color-accent-fg: var(--color-green-2);
  --color-accent-bg: var(--color-green-1);
  --color-accent-secondary-fg: var(--color-green-3);
  --color-accent-secondary-bg: var(--color-green-0);

  /* Font Families */
  --font-sans: "Nunito", "Zen Maru Gothic", sans-serif;
  --font-mono: "Source Han Code JP", monospace;

  /* Font Size Definitions */
  --font-base: 40px;
  --font-5l: calc(var(--font-base) * 8 / 3);
  --font-4l: calc(var(--font-base) * 8 / 4);
  --font-3l: calc(var(--font-base) * 8 / 5);
  --font-2l: calc(var(--font-base) * 8 / 6);
  --font-l: calc(var(--font-base) * 8 / 7);
  --font-s: calc(var(--font-base) * 8 / 9);
  --font-2s: calc(var(--font-base) * 8 / 10);
  --font-3s: calc(var(--font-base) * 8 / 11);
  --font-4s: calc(var(--font-base) * 8 / 12);
  --font-5s: calc(var(--font-base) * 8 / 13);
  --font-xs: 20px;

  /* Line Heights */
  --line-base: 1.5;
  --line-tight: 1.25;
  --line-none: 1;

  /* Spacing */
  --space-1: 16px;
  --space-2: calc(var(--space-1) * 2);
  --space-3: calc(var(--space-1) * 3);
  --space-4: calc(var(--space-1) * 5);
  --space-5: calc(var(--space-1) * 8);
  --space-6: calc(var(--space-1) * 13);

  /* margin-bottom of block elements in default theme */
  --space-block: 16px;

  /* Font Weights */
  --weight-regular: 500;
  --weight-bold: 700;
  --weight-bolder: 900;

  /* Border Radius */
  --radius: 24px;

  font-family: var(--font-sans);
  font-size: var(--font-base);
  font-weight: var(--weight-regular);
  font-feature-settings: "palt";
  line-height: var(--line-base);
  color: var(--color-fg);
  background-color: var(--color-bg);

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

section.blue {
  --color-accent-fg: var(--color-blue-2);
  --color-accent-bg: var(--color-blue-1);
  --color-accent-secondary-fg: var(--color-blue-3);
  --color-accent-secondary-bg: var(--color-blue-0);
}
section.red {
  --color-accent-fg: var(--color-red-2);
  --color-accent-bg: var(--color-red-1);
  --color-accent-secondary-fg: var(--color-red-3);
  --color-accent-secondary-bg: var(--color-red-0);
}
section.green {
  --color-accent-fg: var(--color-green-2);
  --color-accent-bg: var(--color-green-1);
  --color-accent-secondary-fg: var(--color-green-3);
  --color-accent-secondary-bg: var(--color-green-0);
}

h1 {
  font-size: var(--font-3l);
  font-weight: var(--weight-bold);
  line-height: var(--line-tight);
  color: var(--color-fg);
  padding: 0;
}
h2 {
  font-size: var(--font-l);
  font-weight: var(--weight-bold);
  line-height: var(--line-tight);
  color: var(--color-accent-fg);
  padding: 0;
}
h3 {
  font-size: var(--font-l);
  font-weight: var(--weight-bold);
  line-height: var(--line-tight);
  color: var(--color-fg);
}
h4 {
  font-size: var(--font-base);
  font-weight: var(--weight-bold);
  line-height: var(--line-tight);
  color: var(--color-fg);
}
h5 {
  font-size: var(--font-s);
  font-weight: var(--weight-bold);
  line-height: var(--line-tight);
  color: var(--color-fg);
}
h6 {
  font-size: var(--font-s);
  font-weight: var(--weight-bold);
  line-height: var(--line-tight);
  color: var(--color-secondary-fg);
}

strong {
  font-weight: var(--weight-bold);
  color: var(--color-accent-fg);
}

a {
  color: var(--color-fg);
  text-decoration: underline;
  &:hover {
    color: var(--color-accent-fg);
  }
}

code {
  font-family: var(--font-mono);
}
code:not(pre code) {
  background: var(--color-secondary-bg);
  color: var(--color-accent-secondary-fg);

  font-size: 0.8em;
  padding: 0.12em 0.24em;
  border-radius: 0.1em;
}
pre {
  background: var(--color-secondary-bg);
  border: none;
  border-radius: var(--radius);
  line-height: var(--line-tight);

  code {
    font-size: var(--font-4s);
  }
}

ul,
ol {
  padding-left: 1.2em;
}
ul li::marker {
  content: "• ";
  color: var(--color-accent-fg);
}
ol li::marker {
  font-size: 0.8em;
  font-weight: var(--weight-bold);
  color: var(--color-accent-fg);
}

section.title {
  color: var(--color-bg);

  padding: var(--space-4) calc(var(--space-4) + var(--space-5))
    calc(var(--space-4) + var(--space-3)) var(--space-4);

  background: none;
  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: calc(100% - var(--space-5));
    height: calc(100% - var(--space-3));
    background: var(--color-accent-fg);
    border-radius: 0 0 280px 0;

    z-index: -1;
  }
  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: var(--color-bg);

    z-index: -2;
  }

  & > :is(p, h1, h2, h3, h4, h5, h6) {
    color: var(--color-bg);
  }

  blockquote {
    margin-top: var(--space-3);
    padding-left: 0;
    border: none;

    color: var(--color-bg);
    font-size: var(--font-2s);
  }

  header {
    position: static;
    color: var(--color-bg);
    font-size: var(--font-3s);
    margin-bottom: var(--space-1);
  }

  footer {
    bottom: 0.2em;

    font-size: var(--font-xs);
    color: var(--color-accent-secondary-fg);
  }
}

section:not(.title) {
  padding: var(--space-2) var(--space-3) var(--space-3);
  align-content: normal;
  background: var(--color-bg);

  blockquote {
    border: none;
    padding: var(--space-1) var(--space-2);
    border-radius: var(--radius);

    background: var(--color-accent-secondary-bg);

    font-size: var(--font-base);
    color: var(--color-fg);

    cite {
      margin-top: var(--space-1);
      padding-left: var(--space-1);
      font-size: var(--font-3s);

      display: block;

      &::before {
        content: "— ";
      }
    }
  }

  &[data-paginate="true"]::after {
    bottom: 0;
    right: 0;

    content: attr(data-marpit-pagination);

    aspect-ratio: 1;
    width: 2.4em;
    border-radius: 9999px 0 0 0;

    display: flex;
    align-items: flex-end;
    justify-content: flex-end;

    padding-right: 0.6em;
    padding-bottom: 0.2em;

    font-size: var(--font-4s);
    font-weight: var(--weight-bold);
    background: var(--color-accent-bg);
    color: var(--color-fg);
  }

  header {
    position: static;
    color: var(--color-fg);
    font-size: var(--font-3s);
    font-weight: var(--weight-bold);
  }

  footer {
    padding-left: var(--space-2);
    color: var(--color-fg);
    font-size: var(--font-xs);
    bottom: var(--space-1);
  }
}

/* Utility classes */
section {
  .base {
    font-size: var(--font-base);
  }
  .lg {
    font-size: var(--font-l);
  }
  .xl {
    font-size: var(--font-2l);
  }
  .sm {
    font-size: var(--font-s);
  }
  .xs {
    font-size: var(--font-2s);
  }
  .bold {
    font-weight: var(--weight-bold);
  }
  .accent {
    color: var(--color-accent-fg);
  }

  .space {
    height: var(--space-3);
    width: var(--space-3);
  }

  .columns {
    display: flex;
    & > div {
      flex: 1;
    }

    gap: var(--space-4);
    margin-bottom: var(--space-block);
    &:last-child,
    &:has(+ footer) {
      margin-bottom: 0;
    }
  }
}

section.center-x,
section.center {
  text-align: center;

  pre {
    text-align: left;

    width: 85%;
    margin-left: auto;
    margin-right: auto;
  }

  blockquote {
    text-align: left;
    max-width: 85%;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
  }

  ul,
  ol {
    text-align: left;
  }
  ul:not(li > ul),
  ol:not(li > ol) {
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
  }
}
section.center-y,
section.center {
  align-content: center;
}

/* Arrow */
.up,
.down,
.left,
.right {
  margin: auto 0.2em;
  position: relative;
  width: 0.8em;
  height: 0.8em;

  &:is(span) {
    display: inline-block;
  }

  &:is(div):not(:last-child),
  &:is(div):not(:has(+ footer)) {
    margin-bottom: var(--space-block);
  }

  &:is(.columns > div) {
    margin: auto 0;

    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: auto;
  }
}
.up::before,
.down::before,
.left::before,
.right::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  border-style: solid;
  border-color: var(--color-accent-fg);
  border-radius: 0 0.25em 0 0;
  border-width: 0.2em 0.2em 0 0;
  box-sizing: border-box;
}
.up::before {
  transform: rotate(-45deg) scale(0.72);
  top: 15%;
}
.down::before {
  transform: rotate(135deg) scale(0.72);
  bottom: 15%;
}
.left::before {
  transform: rotate(-135deg) scale(0.72);
  left: 15%;
}
.right::before {
  transform: rotate(45deg) scale(0.72);
  right: 15%;
}
